body {
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: rgba(90, 255, 84, 0.849);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: white;
    border: 5px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  .marker {
    box-sizing: border-box;
    height: 140px;
    width: 125px;
    margin: auto;
  }