body {
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: rgba(90, 255, 84, 0.849);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: white;
    border: 5px solid black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  .marker {
    box-sizing: border-box;
    height: 140px;
    width: 500px;
    margin: 0 auto;
    color: purple;
    font-family: serif;
    font-size: 23px ;
  }

.new {
   color: red; 
   background-color: black;
   boder: 2px red;   
   margin-top: 50px;
   margin-left: 185px; 
   height: 50px;
   width: 100px;
   font-family: Times;
   font-size: 35px;
  }